{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Gracias por registrarte en {{ app_name }}.</p>

{% if user_manager.enable_confirm_email and not user.confirmed_at -%}
<p>Ahora, necesitás confirmar tu dirección de e-mail.</p>

<p>Si iniciaste esta registración, por favor hacé click en el siguiente link:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Confirmar e-mail</a>.</p>

<p>Si no iniciaste esta registración, podés ignorar este e-mail.</p>
{% endif %}

{% endblock %}
