{% extends "base.html" %}

{% block content %}

    <form action='/signin/do_registrarse' method="POST">
        Apellidos:<br>
        <input type="text" name="apellido"><br>
  
        Nombres:<br>
        <input type="text" name="nombre"><br>
  
        Nombre de usuario:<br>
        <input type="text" name="username"><br>

        DNI:<br>
        <input type="text" name="DNI"><br>
  
        E-mail:<br>
        <input type="text" name="email"><br>
  
        Padron:<br>
        <input type="text" name="padron"><br>
  
        Contraseña:<br>
        <input type="text" name="password"><br>

        Repetir contraseña:<br>
        <input type="text" name="repetir_password"><br>

        <input type="submit" name='btn_registrarse' value="Registrarse" class="btn btn-primary btn-large btn-block">
    </form>

{% endblock %}