{% extends "common/page_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<!-- Bootstrap table -->
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script type='text/javascript' src="/js/bootstrap-table-es-AR.js"></script>

<style type='text/css'>
    .row-index {
      width: 50px;
      display: inline-block;
    }

    .lista-materias {
        background-color: transparent;
        border-color: transparent;
    }

</style>
<!-- fin Bootstrap table -->

<script>
    $(window).on('load',(function(){
        show_loading_mask();
        $(function() {
            $('#tabla_docentes').bootstrapTable({
                data: [],
                columns: {{ tabla_docentes_columnas|tojson|safe }},
            });
        });
        obtener_todos_los_docentes_service("{{ csrf_token() }}", '', '', populate_data_docentes, console.log);
    }));

    function format_lista_materias(materias){
        res = '<ul class="list-group">'
        for(var index in materias){
            res += '<li class="list-group-item lista-materias">';
            res +=  materias[index]['codigo'] + " - " + materias[index]['nombre'] + " | Curso: " + materias[index]['curso'];
            res +=  " | " + materias[index]['carrera'];
            res += '</li>';
        }
        res += "</ul>"
        return res;
    }

    function get_acciones_tabla(id_docente){
        return [
            '<a class="remove" href="javascript:void(0)" onclick="confirm_delete(' + id_docente + ')"  title="Eliminar" style="padding: 10px" >',
            '<i class="glyphicon glyphicon-trash"></i>',
            '</a>',
            '<a href="/admin/editar_docente/'+  id_docente  +'" onclick="delete_row(this)"  title="Editar" style="padding: 10px" >',
            '<i class="glyphicon glyphicon-pencil"></i>',
            '</a>'
        ].join('');
    }

    function populate_data_docentes(service_status, service_data){
        var docentes = []
        var docente;
        for(var i=0;i<service_data.length; i++){
            docente = service_data[i];
            docentes.push({
                "nombre": docente["nombre"],
                "apellido": docente["apellido"],
                "materias": format_lista_materias(docente["materias_que_dicta"]),
                "acciones": get_acciones_tabla(docente["id_docente"]),
                "id_docente": docente["id_docente"]
            });
        }

        $('#tabla_docentes').bootstrapTable('load', docentes);
        hide_loading_mask();
        $('#div_tabla').show();
    }

    function confirm_delete(id_docente){
        var modal = $("#deleteModal");
        var docente = $("#tabla_docentes").bootstrapTable('getRowByUniqueId', id_docente);
        var nombre_docente = docente.nombre + ' ' + docente.apellido;
        modal.find('.modal-title').text('Se va a eliminar el docente ' + nombre_docente);
        $('#confirm-delete-button').click(function() {
                delete_docente(id_docente, modal);
                });
        modal.modal('show');
    }

    function delete_docente(id_docente, modal){
        var div_error = document.getElementById('div_error');
        div_error.hidden = true;
        var div_success = document.getElementById('div_success');
        div_success.hidden = true;

        eliminar_docente_service("{{ csrf_token() }}", id_docente, function(status, result) {
            $("#tabla_docentes").bootstrapTable('removeByUniqueId', id_docente);
            div_success.hidden = false;
            modal.modal('hide');
        }, function(status, response){
            div_error.hidden = false;
        });

    }

    function agrupar_seleccionados() {
        var div_error = document.getElementById('div_error_agrupar');
        div_error.hidden = true;
        var div_success = document.getElementById('div_success_agrupar');
        div_success.hidden = true;
        var div_texto = document.getElementById('text_div_error_agrupar');

        var seleccionados = $("#tabla_docentes").bootstrapTable('getSelections');
        if (seleccionados.length < 2) {
            div_texto.innerText = "Se requieren al menos dos docentes a agrupar";
            div_error.hidden = false;
            return;
        }

        var UL_INICIO = "<ul class='list-group'>";
        var UL_FIN = "</ul>";

        var ids_docentes = [];
        var apellido = '';
        var nombre = '';
        var materias_que_dicta_agrupadas = [];

        for(var i=0; i<seleccionados.length; i++) {
            var docente = seleccionados[i];
            if (!apellido)
                apellido = docente.apellido;

            if (apellido != docente.apellido) {
                div_texto.innerText = "No es posible agrupar docentes con diferentes apellidos.";
                div_error.hidden = false;
                return;
            }

            if (!nombre && docente.nombre)
                nombre = docente.nombre

            if (docente.nombre && nombre != docente.nombre) {
                div_texto.innerText = "No es posible agrupar docentes con diferentes nombres.";
                div_error.hidden = false;
                return;
            }

            var l_materias = docente.materias.substring(UL_INICIO.length,docente.materias.length-UL_FIN.length);
            l_materias = l_materias.split('</li>');
            for (var j in l_materias) {
                var nueva_linea = l_materias[j] + '</li>';
                if (l_materias[j] && materias_que_dicta_agrupadas.indexOf(nueva_linea) < 0)
                    materias_que_dicta_agrupadas.push(nueva_linea);
            }

            ids_docentes.push(docente.id_docente);
        }

        show_loading_mask();
        agrupar_docentes_service('{{ csrf_token() }}', ids_docentes, function(status, response) {
            var materias_agrupadas = UL_INICIO + materias_que_dicta_agrupadas.join('') + UL_FIN;

            var docente_sobreviviente = seleccionados[0];
            docente_sobreviviente.apellido = apellido;
            docente_sobreviviente.nombre = nombre;
            docente_sobreviviente.materias = materias_agrupadas;

            for (var i=1; i< seleccionados.length; i++) {
                var docente = seleccionados[i];
                $("#tabla_docentes").bootstrapTable('removeByUniqueId', docente.id_docente);
            }

            div_success.hidden = false;
            hide_loading_mask();
        }, function(status, response) {
            div_texto.innerText = "Se ha producido un error al agrupar los docentes. Por favor, intenta nuevamente"
            div_error.hidden = false;
            hide_loading_mask();
        });
    }


</script>

<div class="container">
    <h1>Administrar docentes</h1>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <div id="alert_ok" hidden="true" class="alert alert-success"></div>
    <div id="alert_error" hidden="true" class="alert alert-danger"></div>

    <br>
    <div id="div_error" hidden="true">
        <div class="alert alert-danger">Se ha producido un error al eliminar el docente. Por favor intenta nuevamente.
        </div>
    </div>

    <div id="div_success" hidden="true">
        <div class="alert alert-success">Se ha eliminado el docente.
        </div>
    </div>

    <div id="div_error_agrupar" hidden="true">
        <div class="alert alert-danger" id="text_div_error_agrupar"></div>
    </div>

    <div id="div_success_agrupar" hidden="true">
        <div class="alert alert-success">Se han agrupado los docentes satisfactoriamente.</div>
    </div>

    <br>

    <button class="btn btn-mussa-default"
            type="button" onclick="agrupar_seleccionados()">
        Agrupar seleccionados
    </button>

    <div id="div_tabla" hidden="true">
        <table
                id="tabla_docentes"
                data-toggle="true"
                data-toolbar="#toolbar"
                data-pagination="true"
                data-striped="true"
                data-click-to-select="true"
                data-select-item-name="state"
                data-unique-id="id_docente"
                data-locale="es-AR"
                data-checkbox-header="false"
        ></table>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalTitle">Eliminar docente</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>¿Esta seguro que desea eliminar?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="confirm-delete-button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}