{% extends "common/page_base.html" %}

{% block content %}

<div class="container">

    <h2>Cargar horarios de cuatrimestres</h2>

    <form onsubmit="show_loading_mask(); return true;" action="{{ url_for('main.administrar_horarios_upload_file') }}"
          method="POST"
          enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="form-group">
            <label>Archivo de horarios:</label>
            <input type="file" name="file">
            </label>
        </div>

        <div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Número de cuatrimestre:</label>
                        <select class="form-control" id="numero_cuatrimestre" name="numero_cuatrimestre">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Año:</label>
                        <select class="form-control" id="anio" name="anio">
                            {% for i in anios %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-mussa-default"/>
    </form>
</div>

{% endblock %}