{% extends "common/page_base.html" %}

{% block content %}

    <script>

        function generar_tabla_de_resultados(materias) {
            if (!materias || materias.length == 0)
                return "<p>No se encontraron resultados</p>";

            html = "";
            html += "<div class='table-responsive'>";
            html += "<table class='table'>";
            html += "<tr class='header_tabla'>";
            html += "<th>Código</th>";
            html += "<th>Materia</th>";
            html += "<th>Tipo de materia</th>";
            html += "<th>Carrera</th>";
            html += "<th>Acciones</th>";
            html += "</tr>";
            html += "</thead>";

            html += "<tbody>";

            for (i = 0; i<materias.length; i++) {
                materia = materias[i];

                html += "<tr>";
                html += "<td>" + materia["codigo"] + "</td>";
                html += "<td>" + materia["nombre"] + "</td>";
                html += "<td>" + materia["tipo_materia"] + "</td>";
                html += "<td>" + materia["carrera"] + "</td>";
                html += "<td>" + "<a href='/materias/" + materia["id_materia"] + "'><span class='glyphicon glyphicon-search'></span></a>" + "</td>";
                html += "</tr>";
            }

            html += "</tbody>";
            html += "</table>";
            html += "</div>";

            return html;
        }

        function obtener_parametro_ids_carreras() {
            carreras = []
            checkbox = $("input:checkbox[name^='carrera-']")
            checkbox.each(function(index, e){
                if ( checkbox[index].checked ) {
                    carreras.push(checkbox[index].value)
                }
            })
            return carreras;
        }

        function es_codigo_invalido(codigo) {
            if (!codigo)
                return false;

            var longitud_invalida = (codigo.length < 1) || (codigo.length > 4);

            return isNaN(codigo) || longitud_invalida;
        }

        function search_materias() {
            var codigo = $("#codigo_materia").val();

            var div_error = document.getElementById("div_error_codigo");
            div_error.hidden = true;
            if (codigo &&  es_codigo_invalido(codigo)){
                div_error.hidden = false;
                return false;
            }

            palabras_clave = obtenerPalabrasClave();

            show_loading_mask();

            var csrf_token = '{{ csrf_token() }}';
            var nombre = $("#nombre_materia").val();
            var ids_carreras = obtener_parametro_ids_carreras();

            get_materias_con_filtro_service(csrf_token, codigo, nombre, ids_carreras, palabras_clave, function(state, result) {
                content = generar_tabla_de_resultados(result);
                $("#search_results").html(content);
                hide_loading_mask();
            }, function(state, result){
                content = "<p>Ha ocurrido un problema. Por favor intentá nuevamente</p>";
                $("#search_results").html(content);
                hide_loading_mask();
            });
        }

        function change_checkbox_carreras(checkbox) {
            if (checkbox.name == "check_todas_las_carreras") {
                checkbox_carrera = $("input:checkbox[name^='carrera-']")
                checkbox_carrera.each(function(index, e){
                    checkbox_carrera[index].checked = checkbox.checked;
                })
            } else {
                $("input:checkbox[name^='check_todas_las_carreras']")[0].checked = false;
            }
        }

        var ULTIMO_ID_AGREGADO = 0;

        function agregar_palabra_clave() {
            var div_palabra = document.getElementById("palabra_clave");
            var palabra = div_palabra.value;

            if (!palabra)
                return;

            div_palabra.value = "";

            var div_palabra = document.createElement('div');
            div_palabra.id = "palabra_agregada_" + ULTIMO_ID_AGREGADO;
            div_palabra.className = "col-sm-3";
            div_palabra.style.marginBottom = "5px";

            ULTIMO_ID_AGREGADO += 1;

            var html = "<div class='input-group'>";
            html += "<input type='text' class='form-control' style='background-color: #e8d2f2;' id='input_" + div_palabra.id + "' value='" + palabra + "' disabled/>";
            html += "<span class='input-group-btn'>";
            html += "<button class='btn btn-mussa-default' type='button'"
            html += 'onclick="eliminarPalabra(\''+ div_palabra.id +'\')">';
            html += "<span class='glyphicon glyphicon-trash'></span>";
            html += "</button>";
            html += "</span>";
            html += "</div>";

            div_palabra.innerHTML = html;

            var div_palabras_elegidas = document.getElementById("palabras_clave_elegidas");
            div_palabras_elegidas.appendChild(div_palabra);
        }

        function eliminarPalabra(id_div_palabra) {
            var div_palabras = document.getElementById("palabras_clave_elegidas");
            var div_a_eliminar = document.getElementById(id_div_palabra);
            div_palabras.removeChild(div_a_eliminar);
        }

        function obtenerPalabrasClave() {
            var palabras = [];
            var div_palabras = document.getElementById("palabras_clave_elegidas");
            for(var i=0; i<div_palabras.children.length; i++){
                var id_palabra_actual = "input_" + div_palabras.children[i].id;
                var div_palabra_actual = document.getElementById(id_palabra_actual);
                palabras.push(div_palabra_actual.value);
            }
            return palabras;
        }

    </script>

    <div class="container">

        <h2>{%trans%}Buscar Materias{%endtrans%}</h2>

        <form action="{{ url_for('main.buscar_materias_page') }}" method="GET">
            <div class="form-group">
                <label for="codigo_materia">Codigo de materia:</label>
                <div id="div_error_codigo" hidden="true">
                    <div class="alert alert-danger">El código de materia debe ser un número con un largo de 1 a 4 dígitos.
                    </div>
                </div>
                <input type="text" class="form-control" id="codigo_materia" name="codigo_materia">
            </div>

            <div class="form-group">
                <label for="nombre_materia">Nombre de la materia:</label>
                <input type="text" class="form-control" id="nombre_materia" name="nombre_materia">
            </div>

            <div class="form-group">
                <label>Carreras:</label>

                <div class="checkbox" id="check_todas_las_carreras">
                    <label>
                        <input type="checkbox" onchange="change_checkbox_carreras(this)" name="check_todas_las_carreras">Todas las carreras
                    </label>
                </div>

                {% for carrera in carreras %}
                    <div class="checkbox" id="carrera-{{carrera.codigo}}">
                        <label>
                            <input type="checkbox" name="carrera-{{carrera['codigo']}}" onchange="change_checkbox_carreras(this)" value="{{carrera['id_carrera']}}">{{ carrera['codigo'] }} - {{ carrera['nombre'] }}
                        </label>
                    </div>
                {% endfor %}

            </div>

            <!-- Palabras clave -->
            <div class="form-group">
                <label for="palabra_clave">Palabras Clave:&nbsp<span
                        class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                        title="Se buscarán todas las materias que tengan al menos una de las palabras clave seleccionadas."></span></label>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="palabra_clave" name="palabra_clave">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" onclick="agregar_palabra_clave()" class="btn btn-mussa-default">Agregar</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row" id="palabras_clave_elegidas">
                </div>
            </div>
            <!-- Fin palabras clave -->

            <br>

            <button type="button" onclick="search_materias()" class="btn btn-mussa-default">Buscar</button>

        </form>

        <br>

        <div id="search_results"></div>

    </div>

{% endblock %}