{% extends "common/page_base.html" %}

{% block content %}
    <div class="container">
    
        <h2>{%trans%}Contacto{%endtrans%}</h2>

        <p>
            Esta página surge a partir del trabajo profesional de Jennifer Andrea Woites para la carrera de Ingeniería en Informática.
        </p>

        <br>

        <p>
            Actualmente, es un sitio mantenido por y para los estudiantes del FIUBA.
            Como tal, necesitamos de tu ayuda para poder seguir creciendo, por lo que si encontrás errores o querés
            enviarnos tus sugerencias podés hacerlo a 'mussa.fiuba' en gmail.com
        </p>

        <br>

        <link>
            También podés unirte a nuestro equipo de desarrollo. Para ello, podés acceder al
            <a target="_blank" href='https://github.com/jennywoites/MUSSA'>repositorio</a> en GitHub
        </p>

    </div>

{% endblock %}