{% extends "common/page_base.html" %}

{% block content %}

    <script>

        $(function() {
            var boton = document.getElementById("agregar_materia_button");
            var cant_carreras = {{mis_carreras | length}};
            boton.disabled = (cant_carreras == 0);

            if (cant_carreras == 1) {
                debuuger;
                actualizar_progreso_carrera_seleccionada({{mis_carreras | safe}}[0]["carrera_id"]);
            }

            if (cant_carreras > 1) {
                var selector_carrera = document.getElementById("carrera_mostrar_materias");
                selector_carrera.selectedIndex = 1;
                filtrar_materias_por_carrera();
            }

        });

        function actualizar_progreso_carrera_seleccionada(id_carrera) {
            actualizar_progreso_completo(id_carrera, "", "");
        }

        function actualizar_progreso_completo(id_carrera, orientacion, trabajo_final) {
            var datos_completos_progreso = {{progreso | safe }}[id_carrera];
            var div_progreso = document.getElementById("progreso_carrera_seleccionada");

            var datos_carrera = obtener_datos_carrera(id_carrera);
            var orientaciones = datos_carrera["orientaciones"];
            var trabajos_finales = datos_carrera["trabajos_finales_carrera"];

            if (!orientacion)
                orientacion = (orientaciones.length == 0) ? '-1' : orientaciones[0]
            if (!trabajo_final)
                trabajo_final = (trabajos_finales.length == 0) ? 'GRAL' : trabajos_finales[0]

            var datos_progreso = datos_completos_progreso[orientacion][trabajo_final];

            var html = "";
            html += generar_HTML_avance_general(datos_progreso);

            div_progreso.innerHTML = html;
        }

        function obtener_datos_carrera(id_carrera) {
            var carreras = {{mis_carreras | safe}};
            for (var i=0; i<carreras.length; i++) {
                if (carreras[i]["id_carrera"] == id_carrera)
                    return carreras[i];
            }
        }

        function generar_tabla_detalles_avance(datos_progreso) {
            debugger;

        }

        function generar_HTML_avance_general(datos_progreso) {
            var html =  '<div class="row">';
            html +=         '<div class="col-md-1">';
            html +=             'Avance:';
            html +=         '</div>';
            html +=         '<div class="col-md-11">';
            html +=             generar_html_barra_progreso(datos_progreso["porcentaje_avance_total"]);;
            html +=         '</div>';
            html +=     '</div>';
            return html;
        }

        function generar_html_barra_progreso(porcentaje) {
            var html = '<div class="progress">';
            html += '<div class="progress-bar progress_bar_mussa" role="progressbar" aria-valuenow="' + porcentaje + '"';
            html += 'aria-valuemin="0" aria-valuemax="100" style="width: ' + porcentaje + '%;">';
            html += + porcentaje + '%';
            html += '</div>';
            html += '</div>';
            return html;
        }

        function confirmar_eliminar_carrera(carrera, url) {
            msj = "Al eliminar la carrera, se borrarán todas las materias, encuestas y planes de estudios asociados.";
            msj += "<br><br>";
            msj += "Esta acción no se puede deshacer."

            titulo = "Eliminar Carrera: " + carrera["nombre"] + " (" + carrera["plan"] + ")";

            show_modal(titulo, msj, "Eliminar carrera", "Cancelar", function(modal) {
                redirigir_a(url);
            });
        }

        function confirmar_eliminar_materia(materia, url) {
            msj = "Vas a eliminar la materia " + materia["codigo"] + " - " + materia["nombre"];
            msj += " de la carrera " + materia["carrera"] + ".";

            if (materia["estado"] != "Cursando actualmente") {
                msj += "<br><br><br>";
                msj += "Al eliminar la materia, se borrarán todos los datos de la encuesta asociada.";
                msj += "<br><br>";
                msj += "Esta acción no se puede deshacer.";
            }

            titulo = "Eliminar Materia: " + materia["codigo"] + " - " + materia["nombre"];

            show_modal(titulo, msj, "Eliminar materia", "Cancelar", function(modal) {
                redirigir_a(url);
            });
        }

        function padron_es_valido(padron) {
            return (padron != "") && (padron.match(/^[0-9]+$/) != null) && (5<=padron.length && padron.length<=7)
        }

        function actualizar_padron() {
            var error_label = document.getElementById("error_padron");
            error_label.style["display"] = "none";

            var ok_label = document.getElementById("ok_actualizar_padron");
            ok_label.style["display"] = "none";

            var padron = document.getElementById("padron").value;
            if (!padron_es_valido(padron)) {
                error_label.style["display"] = "";
                return false;
            }

            modificar_alumno_service('{{ csrf_token() }}', padron, function(state, result) {
                error_label.style["display"] = "none";
                ok_label.style["display"] = "";
            }, function(state, result) {
                error_label.style["display"] = "";
                ok_label.style["display"] = "none";
            });
        }

        function filtrar_materias_por_carrera() {
            var carrera_elegida = document.getElementById("carrera_mostrar_materias");
            var id_carrera = carrera_elegida[carrera_elegida.selectedIndex].id;

            var rows = document.getElementById("materias_alumno_table").rows;

            var titulos = rows[0];
            var POS_CARRERA = 3;
            titulos.cells[POS_CARRERA].hidden = (id_carrera != "todas_mis_carreras");

            var no_hay_datos = true;
            for (var i = 1; i < rows.length; i++) {
                var id_carrera_tabla = rows[i].cells[0].innerText;

                rows[i].cells[POS_CARRERA].hidden = (id_carrera != "todas_mis_carreras");
                if (id_carrera == "todas_mis_carreras") {
                    no_hay_datos = false;
                    rows[i].style.display = "";
                } else {
                    if (("carrera_" + id_carrera_tabla) == id_carrera) {
                        rows[i].style.display = "";
                        no_hay_datos = false;
                    }
                    else {
                        rows[i].style.display = "none";
                    }
                }
            }

            var materias_alumno_table = document.getElementById("materias_alumno_table");
            materias_alumno_table.hidden = no_hay_datos;

            var tabla_vacia_label = document.getElementById("tabla_vacia");
            tabla_vacia_label.hidden = !no_hay_datos;

            actualizar_progreso_carrera_seleccionada(carrera_elegida[carrera_elegida.selectedIndex].value);
        }

    </script>

    <div class="container">

        <h2>{%trans%}Registro Académico{%endtrans%}</h2>
        
        <br>

        <!-- Padron -->

        <div class="row">
            <div class="col-sm-1">
                <label>Padrón:</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="padron" name="padron" value="{{padron}}">
            </div>                        
            <div class="col-sm-2">
                <button type="button" class="btn btn-mussa-default" onclick="actualizar_padron()">Actualizar</button>
            </div>
        </div>

        <br>

        <div class="alert alert-danger" id="error_padron" style="display:none">
            El padrón es inválido o ya existe un usuario con ese padrón. Un padrón válido está solo formado por números y posee un largo de 5 a 7 caracteres.
        </div>

        <div class="alert alert-success" id="ok_actualizar_padron" style="display:none">
            El padrón se ha actualizado.
        </div>

        <!-- Carreras -->

        <h3>Carreras en las que estoy inscripto</h3>

        <form action="{{ url_for('main.datos_academicos_agregar_carrera_page') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
            {% if carreras | length > 0 %}
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">                
                            <select class="form-control" id="carrera_a_agregar" name="carrera_a_agregar">
                                {% for carrera in carreras %}
                                    <option id="carrera_{{carrera['codigo']}}" value="{{carrera['id_carrera']}}">{{carrera["codigo"]}} - {{carrera["nombre"]}} ({{carrera["plan"]}})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-mussa-default">Agregar</button>
                    </div>
                </div>

                <br>
            {% endif %}
        </form>

        {% if mis_carreras | length > 0 %}

            <div class='table-responsive'>
                <table class='table table-hover'>
                    <tr class="header_tabla">
                        <th>Código</th>
                        <th>Carrera</th>
                        <th>Plan</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for carrera in mis_carreras %}
                            <tr>
                                <td>{{carrera["codigo"]}}</td>
                                <td>{{carrera["nombre"]}}</td>
                                <td>{{carrera["plan"]}}</td>
                                <td>
                                    <button type="button" class="btn btn-link" onclick="confirmar_eliminar_carrera({{carrera | safe}}, '{{ url_for('main.datos_academicos_eliminar_carrera_page', idCarrera=carrera['id_carrera'], token=csrf_token())}}')"><span class='glyphicon glyphicon-trash'></span></button>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No hay ninguna carrera registrada</p>
        {% endif %}


        <!-- Materias -->

        <h3>Mis Materias</h3>

        <button type="button" id="agregar_materia_button" onclick="redirigir_a('{{ url_for('main.agregar_materia_page') }}')" class="btn btn-mussa-default"><span class='glyphicon glyphicon-pencil'></span>     Agregar Materia</button>

        <br>
        <br>

        {% if mis_materias | length > 0 %}

            {% if mis_carreras | length > 1 %}
                <div class="form-group">
                    <label>Seleccioná la carrera para la cual querés visualizar las materias:</label>
                    <select class="form-control" id="carrera_mostrar_materias" name="carrera_mostrar_materias" onchange="filtrar_materias_por_carrera()">
                        <option id="todas_mis_carreras">Todas mis carreras</option>
                        {% for carrera in mis_carreras %}
                            <option id="carrera_{{carrera['id_carrera']}}" value="{{carrera['id_carrera']}}">{{carrera["codigo"]}} - {{carrera["nombre"]}} ({{carrera["plan"]}})</option>
                        {% endfor %}
                    </select>
                </div>

                <br>
            {% endif %}

            <div id="progreso_carrera_seleccionada"></div>

            <div class='table-responsive'>
                <p id="tabla_vacia" hidden="true">No hay resultados para mostrar</p>
                <table class='table table-hover' id="materias_alumno_table">
                    <tr class="header_tabla">
                        <th>Código</th>
                        <th>Materia</th>
                        <th>Carrera</th>
                        <th>Curso</th>
                        <th>Estado</th>
                        <th>Cuatrimestre / Año aprobación cursada</th>
                        <th>Nota Final</th>
                        <th>Fecha</th>
                        <th>Acta o Resolución</th>
                        <th>Forma de Aprobación</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for materia in mis_materias %}
                            <tr>
                                <td hidden=true"">{{materia["id_carrera"]}}</td>
                                <td>{{materia["codigo"]}}</td>
                                <td>{{materia["nombre"]}}</td>
                                <td>{{materia["carrera"]}}</td>
                                <td>{{materia["curso"]}}</td>
                                <td>{{materia["estado"]}}</td>
                                <td>{{materia["aprobacion_cursada"]}}</td>
                                <td>{{materia["calificacion"]}}</td>
                                <td>{{materia["fecha_aprobacion"]}}</td>
                                <td>{{materia["acta_o_resolucion"]}}</td>
                                <td>{{materia["forma_aprobacion_materia"]}}</td>
                                <td>
                                    {% if (materia["estado"] != "Aprobada" and materia["estado"] != "Desaprobada"): %}
                                        <button type="button" class="btn btn-link" onclick="redirigir_a('{{ url_for('main.editar_materia_page', idMateria=materia['id_materia_alumno'])}}')"><span class='glyphicon glyphicon-pencil'></span></button>
                                    {% endif %}

                                    <button type="button" class="btn btn-link" onclick="confirmar_eliminar_materia({{materia | safe}}, '{{ url_for('main.datos_academicos_eliminar_materia_page', idMateria=materia['id_materia_alumno'], token=csrf_token())}}')">
                                        <span class='glyphicon glyphicon-trash'></span>
                                    </button>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No hay ninguna materia registrada</p>
        {% endif %}

        <!-- Descarga de listado de materias -->

    </div>

{% endblock %}