{% extends "common/page_base.html" %}

{% block content %}

    <script>

        $( function () {
            actualizar_valor_curso('{{materia["id_curso"]}}');

            actualizar_valor_seleccionado('estado', '{{materia["estado"]}}');

            mostrar_ocultar_datos_materia_aprobada();

            if ('{{materia["aprobacion_cursada"]}}' != "-") {
                actualizar_fecha_aprobacion_cursada('{{materia["aprobacion_cursada"]}}');
            }

            if ('{{materia["calificacion"]}}' != "-") {
                actualizar_valor_seleccionado('calificacion', '{{materia["calificacion"]}}');
            }

            if ('{{materia["fecha_aprobacion"]}}' != "-") {
                actualizar_fecha_examen('{{materia["fecha_aprobacion"]}}');
            }
            
            if ('{{materia["acta_o_resolucion"]}}' != "-") {
                var elem = document.getElementById("acta_resolucion");
                elem.value = '{{materia["acta_o_resolucion"]}}';
            }

            if ('{{materia["forma_aprobacion_materia"]}}' != "-") {
                actualizar_valor_seleccionado('forma_aprobacion',
                    '{{materia["forma_aprobacion_materia"]}}')
            }
        });

        function actualizar_fecha_examen(fecha) {
            dia = fecha.substring(0,2);
            mes = fecha.substring(3,5);
            anio = fecha.substring(6);

            var fecha_elem = document.getElementById("fecha_aprobacion");
            fecha_elem.value = anio + "-" + mes + "-" + dia;
        }

        function actualizar_fecha_aprobacion_cursada(fecha) {
            var cuatrimestre = fecha.substring(0,1);
            actualizar_valor_seleccionado("cuatrimestre_aprobacion", cuatrimestre);

            var anio = fecha.substring(5);
            actualizar_valor_seleccionado("anio_aprobacion", anio);
        }

        function actualizar_valor_seleccionado(nombre_elemento, valor) {
            var elemento = document.getElementById(nombre_elemento);
            for (var i=0; i < elemento.length; i++) {
                var opcion = elemento[i];
                if (opcion.innerText == valor)
                    opcion.selected = true
            }            
        }

        function actualizar_valor_curso(idCurso) {
            var selector_curso = document.getElementById("curso");
            for (var i=1; i<selector_curso.length; i++) {
                var opcion = selector_curso[i];
                if (opcion.value == idCurso) {
                    selector_curso.selectedIndex = i;
                    break;
                }
            }
            mostrar_ocultar_texto_sin_curso();
        }

        function validar_guardar() {
            mostrar_error(false);

            var estado_element = document.getElementById("estado");
            if (estado_element.value == "Cursando actualmente" ||
                estado_element.value == "Final Pendiente") {
                return true;
            }

            var calificacion = document.getElementById("calificacion").value;
            if (estado_element.value == "Desaprobada" && calificacion >= 4){
                mostrar_error(true,"Si la materia está desaprobada la calificación debe ser menor que 4");
                return false;
            }

            if (estado_element.value == "Aprobada" && calificacion < 4){
                mostrar_error(true,"Si la materia está aprobada la calificación debe ser mayor o igual que 4");
                return false;
            }

            var fecha_aprobacion = document.getElementById("fecha_aprobacion").value;

            if (fecha_aprobacion == ""){
                mostrar_error(true,"Debe ingresar una fecha");
                return false;
            }

            var fecha = new Date(fecha_aprobacion);
            fecha.setHours(0,0,0,0);
            var hoy = new Date();
            hoy.setHours(0,0,0,0);

            if (fecha > hoy){
                mostrar_error(true,"La fecha de aprobación no puede superar el día de hoy");
                return false;
            }

            var acta_resolucion = document.getElementById("acta_resolucion").value;
            if (acta_resolucion == "") {
                mostrar_error(true,"Debe ingresar el acta o resolución");
                scroll_arriba();
                return false;
            }

            return true;
        }

        function mostrar_error(mostrar, texto) {
            var error_element = document.getElementById("error_formulario");
            error_element.hidden = !mostrar;
            error_element.innerText = texto || "";
        }

        function mostrar_ocultar_datos_materia_aprobada() {
            var estado_element = document.getElementById("estado");
            var valor_seleccionado = estado_element.value;

            var cursada_aprobada_element = document.getElementById("estado_con_cursada_aprobada");
            var final_element = document.getElementById("estado_con_final_aprobado_o_desaprobado");

            cursada_aprobada_element.hidden = (valor_seleccionado == "Cursando actualmente");
            final_element.hidden = (valor_seleccionado == "Cursando actualmente" || valor_seleccionado == "Final Pendiente");
        }

        function mostrar_ocultar_texto_sin_curso() {
            var selector_curso = document.getElementById("curso");

            var texto_sin_curso = document.getElementById("texto_sin_curso");
            texto_sin_curso.hidden = (selector_curso.selectedIndex > 0);
        }

    </script>

    <div class="container">

        <h2>Editar Materia</h2>

        <br>

        <div class="alert alert-danger" id="error_formulario" hidden="true"></div>

        <form action="{{ url_for('main.editar_materia_page_save', idMateria=materia['id_materia_alumno']) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="form-group">
                <label>Carrera:</label>
                <label>{{materia["carrera"]}}</label>
            </div>

            <div class="form-group">
                <label>Materia:</label>
                <label>{{materia["codigo"]}} - {{materia["nombre"]}}</label>
            </div>


            <div class="form-group">
                <label>Curso:</label>
                <p id="texto_sin_curso" style="font-style: italic; color: purple;">
                    Si selecciona la opción "Sin curso determinado" no podrá llenar encuestas posteriormente.
                    Solo seleccione esta opción cuando no le interese tener el registro de esta información, poder completar encuestas del curso o simplemente no haya ningún curso disponible en este momento (por ejemplo, es una materia del CBC o ya el curso no se dicta)
                </p>
                <select class="form-control" id="curso" name="curso" onchange="mostrar_ocultar_texto_sin_curso()">
                    <option id="curso_opcion_0" value="-1">Sin curso determinado</option>
                    {% for curso in cursos %}
                    <option id="curso_cod_materia_{{curso['codigo_materia']}}_carreras_{{curso['carreras']}}" value="{{curso['id_curso']}}">{{curso['codigo_curso']}}: {{curso['docentes']}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group">
                <label>Estado:</label>

                <select class="form-control" id="estado" name="estado" onchange="mostrar_ocultar_datos_materia_aprobada()">
                    {% for estado in estados %}
                        <option>{{estado}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="estado_con_cursada_aprobada" hidden="true">

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Cuatrimestre de aprobación de cursada:</label>
                            <select class="form-control" id="cuatrimestre_aprobacion" name="cuatrimestre_aprobacion">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label>Año:</label>
                            <select class="form-control" id="anio_aprobacion" name="anio_aprobacion">
                                {% for anio in anios %}
                                    <option>{{anio}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div id="estado_con_final_aprobado_o_desaprobado" hidden="true">
    
                    <div class="form-group">
                        <label>Calificación:</label>
                        <select class="form-control" id="calificacion" name="calificacion">
                            {% for i in range(2,11) %}
                                <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Fecha:</label>
                        <input id="fecha_aprobacion" name="fecha_aprobacion" type="date">
                    </div>


                    <div class="form-group">
                        <label>Acta o Resolución:</label>
                        <input type="text" class="form-control" id="acta_resolucion" name="acta_resolucion">
                    </div>


                    <div class="form-group">
                        <label>Forma de Aprobación:</label>

                        <select class="form-control" id="forma_aprobacion" name="forma_aprobacion">
                            {% for forma in formas_aprobacion %}
                                <option>{{forma}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                </div>

                <div class="col-sm-3">
                    <button type="submit" class="btn btn-mussa-default" onclick="return validar_guardar();">Guardar</button>
                </div>

                <div class="col-sm-4">
                    <a href="{{ url_for('main.datos_academicos_page') }}">
                        <input type="button" class="btn btn-mussa-default" value="Cancelar"/>
                    </a>
                </div>
            </div>

        </form>

    </div>

{% endblock %}
