{% extends "common/page_base.html" %}

{% block content %}
    <div class="container">
    
        <h2>{%trans%}Links Útiles{%endtrans%}</h2>

        <br>

        <div class='table-responsive'>
            <table class='table table-hover' id="tabla_cursos_guardados">
                <tr class="header_tabla">
                    <th>Links</th>
                    <th>Descripción</th>
                </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                    <tr>
                        <td><a target="_blank" href='{{link["URL"]}}'>{{link["MSJ_URL"]}}</a></td>
                        <td>{{link["DESCRIPCION"]}}</td>
                        {% if "COMENTARIO_OCULTO" in link %}
                            <td hidden>{{link["COMENTARIO_OCULTO"]}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}