{% extends "common/page_base.html" %}

{% block content %}

    <script type='text/javascript' src="/js/services.js"></script>

    <script>

        function ver_materia_otra_carrera(id_carrera, codigo_materia) {
            var csrf_token = '{{ csrf_token() }}';
            get_materias_con_filtro_service(csrf_token, codigo_materia, '', [id_carrera], function(state, result) {
                var idMateria = result[0]["id_materia"];
                var url = '/materias/' + idMateria;
                window.location.href = url;
            }, function(state, result){
                console.log(result);
            });
        }

    </script>

    <div class="container">

        <h2>{{materia["codigo"]}} - {{materia["nombre"]}}</h2>

        <h3>{{materia["carrera"]}}</h3>

        <!-- OTRAS CARRERAS EN LAS QUE SE DICTA LA MATERIA -->
        <!-- Mayor a 1 porque al menos se dicta en la carrera actual -->
        {% if carreras | length > 1 %}
            <br>
            <p>Otras carreras en las que se dicta esta materia:</p>

            {% for otra_carrera in carreras %}
                {% if otra_carrera["id_carrera"] != materia["carrera_id"] %}
                    <a onclick="ver_materia_otra_carrera({{otra_carrera['id_carrera']}}, {{materia['codigo']}})">{{otra_carrera["descripcion"]}}</a>
                {% endif %}
            {% endfor %}

            <br>

        {% endif %}

        <br>

        <!-- CREDITOS -->

        {% if materia["creditos"] > 0 %}
            <p>Creditos: {{materia["creditos"]}}</p>
        {% endif %}

        {% if materia["creditos_minimos_para_cursarla"] > 0 %}
            <p>Requiere {{materia["creditos_minimos_para_cursarla"]}} créditos como mínimo para poder cursarse.</p>
        {% endif %}

        <!-- MATERIAS CORRELATIVAS --> 
        {% if correlativas | length > 0 %}

            <br>
            <h4>Materias correlativas:</h4>

            <div class='table-responsive'>
                <table class='table'>
                    <tr>
                        <th>Código</th>
                        <th>Materia</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for correlativa in correlativas %}
                            <tr>
                                <td>
                                    <a href='/materias/{{correlativa["id"]}}'>
                                        {{correlativa["codigo"]}}
                                    </a>
                                </td>
                                <td>{{correlativa["nombre"]}}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}

        <!-- Tabla de cursos y links a las encuestas -->
        {% if cursos | length > 0 %}

            <br>
            <h4>Cursos:</h4>

            <div class='table-responsive'>
                <table class='table'>
                    <tr>
                        <th>Curso</th>
                        <th>Docentes</th>
                        <th>Horarios</th>
                        <th>Cuatrimestre en que es dictada</th>
                        <th>Puntaje</th>
                        <th>Encuestas</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                            <tr>
                                <td>{{curso["codigo_curso"]}}</td>
                                <td>{{curso["docentes"]}}</td>
                                <td>
                                    <ul class="list-group">
                                        {% for horario in curso["horarios"] %}
                                            <li class="list-group-item" style="border-color: transparent; background-color: transparent;">
                                                {{horario["dia"]}} de {{horario["hora_desde"]}} a {{horario["hora_hasta"]}}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{curso["cuatrimestre"]}}</td>
                                <td>{{curso["puntaje"]}}</td>
                                <td>
                                    <a href='/materias/encuestas/{{curso["id_curso"]}}'>
                                        <span class='glyphicon glyphicon-search'></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}

        <br>

        <div id="search_results"></div>

    </div>

{% endblock %}