{% extends "common/page_base.html" %}

{% block content %}

<script>

        $(function(){
            var tabla = document.getElementById("tabla_docentes");

            var docentes_actuales = {{docentes_actuales | safe}};
            var ids = []
            for (var i=0; i<docentes_actuales.length; i++) {
                var id = docentes_actuales[i]["id_docente"];
                ids.push(id.toString());
            }

            var selector_docentes = document.getElementById("selector_docentes");
            for (var j=1; j<tabla.rows.length; j++) {
                var docente_actual = tabla.rows[j];
                if (ids.indexOf(docente_actual.id) == -1) {
                    docente_actual.hidden = true;
                    selector_docentes.options[j-1].hidden = false;
                } else {
                    docente_actual.hidden = false;
                    selector_docentes.options[j-1].hidden = true;
                }
            }
        });

        function actualizarHoraHasta() {
            var hora_desde_element = document.getElementById("hora_desde");
            var indice_seleccionado = hora_desde_element.selectedIndex;

            var hora_hasta_element = document.getElementById("hora_hasta");
            for (var i=0; i < hora_hasta_element.length; i++) {
                var opcion = hora_hasta_element[i];
                if (i < indice_seleccionado)
                    opcion.style["display"] = "none";
                else
                    opcion.style["display"] = "";                    
            }

            hora_hasta_element.selectedIndex = indice_seleccionado;
        }

        function agregarHorario() {
            var dia_element = document.getElementById("dia")
            var dia = dia_element[dia_element.selectedIndex].innerHTML;

            var hora_desde_element = document.getElementById("hora_desde");
            var hora_desde = hora_desde_element[hora_desde_element.selectedIndex].innerHTML;

            var hora_hasta_element = document.getElementById("hora_hasta");
            var hora_hasta = hora_hasta_element[hora_hasta_element.selectedIndex].innerHTML;

            if (!horarioParaAgregarEsValido(dia, hora_desde, hora_hasta))
                return false;

            var horarios_table = document.getElementById("tabla_cursos_guardados");
            var horarios = horarios_table.rows;

            var indice = horarios_table.rows.length;
            var row = horarios_table.insertRow(indice);
            var ultimo_id = horarios_table.rows[indice-1].id
            var numero_id = parseInt(ultimo_id.substr(ultimo_id.indexOf("_")+1)) + 1;
            if (isNaN(numero_id))
                numero_id = 0;
            row.id = "horario_" + numero_id;
            row.insertCell(0).innerHTML = dia;
            row.insertCell(1).innerHTML = hora_desde;
            row.insertCell(2).innerHTML = hora_hasta;
            row.insertCell(3).innerHTML = '<button type="button" class="btn btn-mussa-default" onclick="eliminarHorario(' + numero_id +')"><span class="glyphicon glyphicon-trash"></span></button></td>'
        }

        function eliminarHorario(idHorario) {
            var horarios = document.getElementById("tabla_cursos_guardados").rows;
            horarios["horario_" + idHorario].remove()
        }

        function convertirHorario(horario) {
            hora = parseInt(horario.substring(0,2))
            minutos = parseInt(horario.substring(3))
            if (minutos == 30)
                hora += 0.5
            return hora
        }

        function horarioParaAgregarEsValido(dia, hora_desde, hora_hasta) {
            var error_label = document.getElementById("error_label");

            hora_desde = convertirHorario(hora_desde);
            hora_hasta = convertirHorario(hora_hasta);
            
            var horarios = document.getElementById("tabla_cursos_guardados").rows;
            for (var i=0; i<horarios.length; i++) {
                var horario = horarios[i];
                var dia_actual = horario.cells[0].innerText;

                if (dia_actual != dia)
                    continue;

                var hora_desde_actual = convertirHorario(horario.cells[1].innerText);
                var hora_hasta_actual = convertirHorario(horario.cells[2].innerText);

                //El curso empieza despues de que termina el nuevo
                if (hora_desde_actual >= hora_hasta)
                    continue;

                //El curso comienza antes que el nuevo y termina antes que el
                if (hora_desde_actual < hora_desde && hora_hasta_actual < hora_desde)
                    continue;

                error_label.style["display"] = "";
                return false;
            }

            error_label.style["display"] = "none";
            return true;
        }

        function agregarDocente() {
            var tabla = document.getElementById("tabla_docentes");
            var selector_docentes = document.getElementById("selector_docentes");
            var index = selector_docentes.selectedIndex;
            var docente_actual = tabla.rows[index + 1];
            docente_actual.hidden = false;

            selector_docentes.options[index].hidden = true;
            selector_docentes.selectedIndex = 0;
        }

        function eliminarDocente(indexTabla) {
            var tabla = document.getElementById("tabla_docentes");
            var selector_docentes = document.getElementById("selector_docentes");

            var docente_actual = tabla.rows[indexTabla];
            docente_actual.hidden = true;

            selector_docentes.options[indexTabla -1].hidden = false;
        }

        function obtener_horarios() {
            l_horarios = [];
            var horarios = document.getElementById("tabla_cursos_guardados").rows;
            for (var i=1; i<horarios.length; i++) {
                horario = horarios[i].cells;
                l_horarios.push({
                    "dia": horario[0].innerText,
                    "hora_desde": horario[1].innerText,
                    "hora_hasta": horario[2].innerText
                })
            }
            return l_horarios;
        }

        function obtener_docentes() {
            var ids_docentes = [];
            var tabla = document.getElementById("tabla_docentes");
            for (var j=1; j<tabla.rows.length; j++) {
                var docente_actual = tabla.rows[j];
                if (!docente_actual.hidden) {
                    ids_docentes.push(docente_actual.id);
                }
            }
            return ids_docentes;
        }

        function no_hay_docentes_habilitados() {
            var tabla = document.getElementById("tabla_docentes");
            for (var j=1; j<tabla.rows.length; j++) {
                var docente_actual = tabla.rows[j];
                if (!docente_actual.hidden) {
                    return false;
                }
            }
            return true;
        }

        function obtener_carreras_seleccionadas() {
            var carreras = {{carreras|safe}};
            var ids_carreras = [];
            for (var i=0; i<carreras.length; i++) {
                var carrera = carreras[i];
                var nombre_input = "input:checkbox[name^='carrera-" + carrera["codigo"] + "']";
                if ($(nombre_input)[0].checked) {
                    ids_carreras.push(carrera["id_carrera"]);
                }
            }

            return ids_carreras;
        }

        function guardarHorario() {
            var ids_carreras = obtener_carreras_seleccionadas();
            var ids_docentes = obtener_docentes();
            var horarios = obtener_horarios();

            if (ids_carreras.length == 0) {
                 document.getElementById("error_label_carrera_habilitada").style["display"] = "";
                 return false;
            } else {
                 document.getElementById("error_label_carrera_habilitada").style["display"] = "none";
            }

            if (no_hay_docentes_habilitados()) {
                 document.getElementById("error_label_docentes_habilitados").style["display"] = "";
                 return false;
            } else {
                 document.getElementById("error_label_docentes_habilitados").style["display"] = "none";
            }

            var csrf_token = '{{ csrf_token() }}';
            var idCurso = {{curso["id_curso"]}};
            var primer_cuatrimestre = $("input:checkbox[name^='check_primer_cuatri']")[0].checked;;
            var segundo_cuatrimestre = $("input:checkbox[name^='check_segundo_cuatri']")[0].checked;

            show_loading_mask();
            modificar_curso_service(csrf_token, idCurso, ids_carreras, primer_cuatrimestre, segundo_cuatrimestre,
            ids_docentes, horarios, function(state, result) {
                redirigir_a("{{ url_for('main.administrar_cursos_page') }}");
                hide_loading_mask();
            }, function(state, result) {
                var error_label = document.getElementById("error_al_guardar_label");
                error_label.style["display"] = "";
                hide_loading_mask();
            })
        }


</script>

<div class="container">

    <h2>Modificar curso: {{curso["codigo_curso"]}} - Materia: {{curso["codigo_materia"]}}</h2>

    <br>

    <form>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="form-group">
            <label>Carreras habilitadas:</label>

            {% for carrera in carreras %}
            <div class="checkbox" id="carrera-{{carrera.codigo}}">
                <label>
                    {% if carrera["activa"] == "true" %}
                    <input type="checkbox" name="carrera-{{carrera['codigo']}}" value="{{carrera['codigo']}}"
                           checked="checked">{{ carrera['codigo'] }} - {{ carrera['nombre'] }}
                    {% else %}
                    <input type="checkbox" name="carrera-{{carrera['codigo']}}" value="{{carrera['codigo']}}">{{
                    carrera['codigo'] }} - {{ carrera['nombre'] }}
                    {% endif %}
                </label>
            </div>
            {% endfor %}

            <div class="alert alert-danger" id="error_label_carrera_habilitada" style="display:none">
                Debe seleccionar al menos una carrera en la que el horario esté habilitado.
            </div>

        </div>

        <div class="form-group">
            <label>Cuatrimestres en que se dicta la materia:</label>

            <div class="checkbox" id="check_primer_cuatri">
                {% if curso['se_dicta_primer_cuatri'] %}
                <label><input type="checkbox" checked="checked" value="" name="check_primer_cuatri">Primer cuatrimestre</label>
                {% else %}
                <label><input type="checkbox" value="" name="check_primer_cuatri">Primer cuatrimestre</label>
                {% endif %}
            </div>
            <div class="checkbox" id="check_segundo_cuatri">
                {% if curso['se_dicta_segundo_cuatri'] %}
                <label><input type="checkbox" checked="checked" value="" name="check_segundo_cuatri">Segundo
                    cuatrimestre</label>
                {% else %}
                <label><input type="checkbox" value="" name="check_segundo_cuatri">Segundo cuatrimestre</label>
                {% endif %}
            </div>

        </div>

        <div class="form-group">
            <label>Docentes:</label>

            <div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" id="selector_docentes" name="selector_docentes">
                                {% for docente in docentes %}
                                <option id="option-{{docente['id_docente']}}">{{docente['nombre_completo']}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <button type="button" class="btn btn-mussa-default" onclick="agregarDocente()">Agregar
                                docente
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" id="error_label_docentes_habilitados" style="display:none">
                Debe seleccionar al menos un docente para que dicte la materia
            </div>

            <div class="form-group">
                <div class='table-responsive'>
                    <table class='table table-hover' id="tabla_docentes">
                        <tr>
                            <th>Apellido, Nombre</th>
                            <th>Materias que dicta</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in range(docentes | length) %}
                        <tr id="{{docentes[i]['id_docente']}}" hidden="true">
                            <td>{{docentes[i]['nombre_completo']}}</td>
                            <td>
                                <ul class="list-group">
                                    {% for materia in docentes[i]["materias_que_dicta"] %}
                                    <li class="list-group-item"
                                        style="border-color: transparent; background-color: transparent;">
                                        {{materia["codigo"]}} - {{materia["nombre"]}} | Curso {{materia["curso"]}} | {{materia["carrera"]}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="eliminarDocente({{i+1}})"><span
                                        class='glyphicon glyphicon-trash'></span></button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <label>Horarios:</label>

        <div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">

                        <select class="form-control" id="dia" name="dia">
                            {% for dia in dias %}
                            <option>{{dia}}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="col-xs-1">
                    <p>De:</p>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <select class="form-control" id="hora_desde" name="hora_desde" onchange="actualizarHoraHasta()">
                            {% for i in range(hora_desde | length) %}
                            <option id="hora_desde_{{i}}">{{hora_desde[i]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-xs-1">
                    <p>A:</p>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <select class="form-control" id="hora_hasta" name="hora_hasta">
                            {% for i in range(hora_hasta | length) %}
                            <option id="hora_hasta_{{i}}">{{hora_hasta[i]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-mussa-default" onclick="agregarHorario()">Agregar horario
                        </button>
                    </div>
                </div>

            </div>

            <div class="alert alert-danger" id="error_label" style="display:none">
                Este horario es incompatible con los que han sido cargados previamente.
            </div>

        </div>

        <br>

        <div class="form-group">
            <div class='table-responsive'>
                <table class='table table-hover' id="tabla_cursos_guardados">
                    <tr>
                        <th>Dia</th>
                        <th>De</th>
                        <th>A</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(curso["horarios"] | length) %}

                    <tr id="horario_{{i}}">
                        <td>{{curso["horarios"][i]["dia"]}}</td>
                        <td>{{curso["horarios"][i]["hora_desde"]}}</td>
                        <td>{{curso["horarios"][i]["hora_hasta"]}}</td>
                        <td>
                            <button type="button" class="btn btn-default" onclick="eliminarHorario({{i}})"><span
                                    class='glyphicon glyphicon-trash'></span></button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="alert alert-danger" id="error_al_guardar_label" style="display:none">
            Los datos no se han guardado. Intente nuevamente.
        </div>

        <div>
            <div class="row">
                <div class="col-sm-4">
                </div>

                <div class="col-sm-3">
                    <button type="button" class="btn btn-mussa-default" onclick="guardarHorario()">
                        Guardar
                    </button>
                </div>

                <div class="col-sm-4">
                    <a href="{{ url_for('main.administrar_cursos_page') }}">
                        <input type="button" class="btn btn-mussa-default" value="Descartar"/>
                    </a>
                </div>
            </div>
        </div>

    </form>

</div>

{% endblock %}