{% extends "common/page_base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<script>

    $( function () {
        var paginas = document.getElementById("myTab").children;
        for (var i=1; i<paginas.length; i++) {
            link = paginas[i];
            if ({{paso_activo}} == i-1) {
                $(link).addClass("active");
            } else {
                $(link).removeClass("active");
            }
        }

        agregarAccionesBotonesAnteriorYSiguiente();
        cargarLasRespuestasGuardadas();
    });

    function cargarLasRespuestasGuardadas() {
        var respuestas = {{respuestas | safe}};
        if ($.isEmptyObject(respuestas))
            return;

        var preguntas = {{preguntas | safe}};
        while(preguntas.length > 0) {
            if ($.isEmptyObject(respuestas))
                return;

            var pregunta = preguntas.pop();
            var idPregunta = pregunta["pregunta_id"];

            var tipo_pregunta = pregunta["tipo"];
            if (idPregunta in respuestas) {
                var respuesta = respuestas[idPregunta];
                delete respuestas[idPregunta];
                cargarRespuestaGuardada(pregunta, tipo_pregunta, respuesta);
                if (tipo_pregunta == "Si o No") {
                    agregarSubpreguntasSiNo(preguntas, pregunta);
                }
            } else {
                mostrarLabelSinResultados(tipo_pregunta, idPregunta);
            }
        }
    }

    function agregarSubpreguntasSiNo(preguntas, pregunta_si_no) {
        agregarSubpreguntas(preguntas, pregunta_si_no["rta_si"], 'si');
        agregarSubpreguntas(preguntas, pregunta_si_no["rta_no"], 'no');
    }

    function agregarSubpreguntas(preguntas, subpreguntas, tipo) {
        for (var i=0; i< subpreguntas.length; i++) {
            var subpregunta = subpreguntas[i];
            var datos = {};
            datos["pregunta"] = subpregunta["pregunta"];
            datos["pregunta_id"] = subpregunta["pregunta_id"];
            datos["pregunta_id"] = subpregunta["pregunta_id"];
            datos["tipo"] = "Texto Subpregunta";
            datos["tipo_num"] = -1;
            datos["tipo_respuesta_si_no"] = tipo;

            preguntas.push(datos);
        }
    }

    function cargarRespuestaGuardada(pregunta, tipo_pregunta, respuesta) {
        switch(tipo_pregunta) {
            case "Texto Libre":
                return cargarRespuestaTextoLibre(pregunta, respuesta);
            case "Puntaje de 1 a 5":
                return cargarRespuestaPuntaje1a5(pregunta, respuesta);
            case "Numero":
                return cargarRespuestaNumero(pregunta, respuesta);
            //case "Horario":
            //    return cargarRespuestaHorario(pregunta, respuesta);
            case "Docente":
                return cargarRespuestaDocentes(pregunta, respuesta);
            //case "Correlativa":
            //    return cargarRespuestaCorrelativas(pregunta, respuesta);
            case "Estrellas":
                return cargarRespuestaEstrellas(pregunta, respuesta);
            //case "Temática de la Materia":
            //    return cargarRespuestaTematicas(pregunta, respuesta);
            //case "Tags / Palabras Clave":
            //    return cargarRespuestaPalabrasClave(pregunta, respuesta);
            case "Si o No":
                return cargarRespuestaSioNo(pregunta, respuesta);
            case "Texto Subpregunta":
                return cargarRespuestaTextoLibre(pregunta, respuesta);
            default:
                console.log(tipo_pregunta)
                console.log(respuesta)
                return;
        }
    }

    function cargarRespuestaSioNo(pregunta, respuesta) {
        var html =  '<div class="row">';
        html +=         '<div class="col-md-6">';
        html +=             '<canvas id="pie_chart_' + pregunta["pregunta_id"] + '" width="100" height="40"></canvas>';
        html +=         '</div>';
        html +=     '</div>';

        actualizar_HTML_respuesta(pregunta, html);

        var datos_graficos = [respuesta.SI, respuesta.NO];
        var labels = ["Si", "No"];

        var colores_borde = get_colores_borde_grafico_si_o_no();
        var colores_relleno = get_colores_relleno_grafico_si_o_no();
        generar_grafico_de_torta('pie_chart_' + pregunta["pregunta_id"], labels, datos_graficos, colores_borde, colores_relleno);
    }

    function cargarRespuestaDocentes(pregunta, respuesta) {
        var docentes = respuesta["docentes"];

        var html = "</br>";
        for(var id_docente in docentes) {
            var docente = docentes[id_docente];
            html += "<p style='font-style: italic; color: purple; font-size: large;'>" + docente["nombre_completo"] + "</p>";
            var comentarios = docente["comentarios"];
            for(var i=0; i<comentarios.length; i++) {
                html += "<textarea class='form-control' rows='5' disabled>";
                html += comentarios[i];
                html += "</textarea>";
                html += "</br>";
            }
        }

        actualizar_HTML_respuesta(pregunta, html);
    }

    function cargarRespuestaPuntaje1a5(pregunta, respuesta) {
        var html =  '<div class="row">';
        html +=         '<div class="col-md-6">';
        html +=             '<canvas id="bar_chart_' + pregunta["pregunta_id"] + '" width="100" height="40"></canvas>';
        html +=         '</div>';
        html +=         '<div class="col-md-6">';
        html +=             '<canvas id="pie_chart_' + pregunta["pregunta_id"] + '" width="100" height="40"></canvas>';
        html +=         '</div>';
        html +=     '</div>';

        actualizar_HTML_respuesta(pregunta, html);

        var MAX_PUNTAJE = 5;
        var datos_grafico = [];
        for (var i=1; i<MAX_PUNTAJE+1; i++){
            datos_grafico.push(respuesta.puntajes[i]);
        }

        var colores_borde = get_colores_borde_grafico_puntaje();
        var colores_relleno = get_colores_relleno_grafico_puntaje();
        generar_grafico_barras('bar_chart_' + pregunta["pregunta_id"], pregunta.textos, datos_grafico, colores_borde, colores_relleno);
        generar_grafico_de_torta('pie_chart_' + pregunta["pregunta_id"], pregunta.textos, datos_grafico, colores_borde, colores_relleno);
    }

    function cargarRespuestaEstrellas(pregunta, respuesta) {
        var promedio = respuesta.suma_estrellas / respuesta.total_encuestas;

        var html =  '</br>';
        html +=     '<p style="font-style: italic; color: purple; font-size: medium;">Calificación promedio: ' + promedio + '</p>';
        html +=     '<div class="row">';
        html +=         '<div class="col-md-6">';
        html +=             '<canvas id="bar_chart_' + pregunta["pregunta_id"] + '" width="100" height="40"></canvas>';
        html +=         '</div>';
        html +=     '</div>';

        actualizar_HTML_respuesta(pregunta, html);

        var datos_grafico = [];
        var labels = [];
        var MAX_ESTRELLAS = 5;
        for(var i=1; i<MAX_ESTRELLAS+1; i++) {
            var texto_estrellas = "";
            for(var j=0; j<i; j++){
                texto_estrellas += "★";
            }
            datos_grafico.push(respuesta.estrellas[i]);
            labels.push(texto_estrellas);
        }

        var colores_borde = get_colores_borde_grafico_puntaje();
        var colores_relleno = get_colores_relleno_grafico_puntaje();
        generar_grafico_barras('bar_chart_' + pregunta["pregunta_id"], labels, datos_grafico, colores_borde, colores_relleno);
    }


    function cargarRespuestaNumero(pregunta, respuesta) {
        var html =  '<div class="row">';
        html +=         '<div class="col-md-6">';
        html +=             '<canvas id="bar_chart_' + pregunta["pregunta_id"] + '" width="100" height="40"></canvas>';
        html +=         '</div>';
        html +=     '</div>';

        actualizar_HTML_respuesta(pregunta, html);

        var datos_grafico = [];
        var labels = [];
        for(var numero in respuesta.numeros){
            datos_grafico.push(respuesta.numeros[numero]);
            labels.push(numero);
        }

        var colores = get_color_borde_y_relleno_multiples_datos(datos_grafico.length);
        var colores_borde = colores[0];
        var colores_relleno = colores[1];
        generar_grafico_barras('bar_chart_' + pregunta["pregunta_id"], labels, datos_grafico, colores_borde, colores_relleno);
    }

    function generar_grafico_de_torta(id_canvas, labels, datos_grafico, colores_borde, colores_relleno) {
        var pie_ctx = document.getElementById(id_canvas).getContext('2d');
        new Chart(pie_ctx,{
            type: 'pie',
            data:  {
                    datasets: [{
                        data: datos_grafico,
                        backgroundColor: colores_relleno,
                        borderColor: colores_borde,
                        borderWidth: 1
                        }],
                    labels: labels,

                },
            options: {
				responsive: true,
				tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var allData = data.datasets[tooltipItem.datasetIndex].data;
                            var tooltipLabel = data.labels[tooltipItem.index];
                            var tooltipData = allData[tooltipItem.index];
                            var total = 0;
                            for (var i in allData) {
                                total += allData[i];
                            }
                            var tooltipPercentage = Math.round((tooltipData / total) * 100);
                            var label_rta = (tooltipData > 1) ? " respuestas" : " respuesta";
                            var msj = tooltipLabel + ': ' + tooltipPercentage + '% (' + tooltipData + label_rta + ')';
                            return msj;
                        }
                    }
                }
			}
        });
    }

    function generar_grafico_barras(id_canvas, labels, datos_grafico, colores_borde, colores_relleno) {
        var bar_ctx = document.getElementById(id_canvas).getContext('2d');
        new Chart(bar_ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Cantidad de respuestas',
                    data: datos_grafico,
                    backgroundColor: colores_relleno,
                    borderColor: colores_borde,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            min: 0,
                            stepSize: 1,
                        }
                    }]
                }
            }
        });
    }

    function get_colores_relleno_grafico_puntaje() {
        return [
            'rgba(255,99,132, 0.2)',
            'rgba(246,184,36, 0.2)',
            'rgba(244,246,36, 0.2)',
            'rgba(17,212,207, 0.2)',
            'rgba(53,212,17, 0.2)'
        ]
    }

    function get_colores_borde_grafico_puntaje() {
        return [
            'rgba(255,99,132, 1)',
            'rgba(246,184,36, 1)',
            'rgba(244,246,36, 1)',
            'rgba(17,212,207, 1)',
            'rgba(53,212,17, 1)'
        ];
    }

    function get_colores_relleno_grafico_si_o_no() {
        return [
            'rgba(17,212,207, 0.2)',
            'rgba(246,184,36, 0.2)'
        ]
    }

    function get_colores_borde_grafico_si_o_no() {
        return [
            'rgba(17,212,207, 1)',
            'rgba(246,184,36, 1)'
        ];
    }

    function get_color_borde_y_relleno_multiples_datos(cant_datos) {
        var colores_borde = [];
        var colores_relleno = [];

        for(var i=0;i<cant_datos;i++) {
            var color = obtener_color_random();
            var r = color[0];
            var g = color[1];
            var b = color[2];
            colores_borde.push("rgba(" + r + "," + g + "," + b + ", 1)");
            colores_relleno.push("rgba(" + r + "," + g + "," + b + ", 0.2)");
        }

        return [colores_borde, colores_relleno];
    }

    function obtener_color_random() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return [r,g,b];
    }

    function cargarRespuestaTextoLibre(pregunta, respuesta) {
        var textos = respuesta["textos"];
        var html = "";
        for(var i=0; i<textos.length; i++) {
            html += "<textarea class='form-control' rows='3' disabled>";
            html += textos[i];
            html += "</textarea>";
            html += "</br>";
        }

        actualizar_HTML_respuesta(pregunta, html);
    }

    function actualizar_HTML_respuesta(pregunta, html) {
        var div_respuesta = document.getElementById('resultados_pregunta_' + pregunta['pregunta_id']);
        div_respuesta.innerHTML = html;
    }

    function agregarAccionesBotonesAnteriorYSiguiente() {
        var btn_anterior = document.getElementById('boton_anterior');
        var btn_siguiente = document.getElementById('boton_siguiente');

        var paginas_anterior_siguiente = {{ anterior_siguiente[paso_activo] | safe }};

        agregarAccionesBoton(paginas_anterior_siguiente[0], btn_anterior, 'left');
        agregarAccionesBoton(paginas_anterior_siguiente[1], btn_siguiente, 'right');
    }

    function agregarAccionesBoton(url, boton, direccion_flecha) {
        if (url) {
            boton.innerHTML = getBotonFlecha(direccion_flecha, url);
        } else {
            boton.hidden = true;
        }
    }

    function getBotonFlecha(lado, url) {
        var boton = "<button type='button' class='btn btn-default' ";
        boton += "style='background-color: transparent;border-color: transparent;font-size: 30px;color: #9634c1;' ";
        boton += "onclick=redirigir_a('" + url + "');>";
        boton += "<span class='glyphicon glyphicon-arrow-" + lado + "'></span></button>";
        return boton;
    }

</script>

<!--- Begin Botonera -->
<div class="row">
    <div class="col-md-12 board">
        <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">
                <div class="liner"></div>
                {% for i in range(titulos | length) %}
                <li>
                    <a onclick="redirigir_a('{{ titulos[i]['url'] }}')"
                       title="{{titulos[i]['titulo']}}">
                        <span class="round-tabs">{{i+1}}<i class="icon icon-profile-male"></i></span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--- End Botonera -->
<br>

<div class="container">

    <div>
        <h2>{{materia["codigo"]}} - {{materia["nombre"]}} | Curso {{curso["codigo_curso"]}} | {{curso["docentes"]}}</h2>

        {% if cuatrimestre and anio %}
            <h3>{{cuatrimestre}} cuatrimestre / Año: {{anio}}</h3>
        {% endif %}

        <h3>Sección {{paso_activo+1}}: {{titulos[paso_activo]["titulo"]}}</h3>
    </div>

    {% for pregunta in preguntas %}

    <br>

    <label><span class="glyphicon glyphicon-chevron-right"></span> {{pregunta["pregunta"]}}</label>

    <br>

    <div id="resultados_pregunta_{{pregunta['pregunta_id']}}">No hay respuestas para esta pregunta.</div>

    {% if pregunta["tipo"] == "Si o No" %}

    {% for subpregunta_si in pregunta["rta_si"] %}

        <br>

        <label><span class="glyphicon glyphicon-chevron-right"></span> {{subpregunta_si["pregunta"]}}</label>

        <br>

        <div id="resultados_pregunta_{{subpregunta_si['pregunta_id']}}">No hay respuestas para esta pregunta.</div>
    {% endfor %}

    {% for subpregunta_no in pregunta["rta_no"] %}

        <br>

        <label><span class="glyphicon glyphicon-chevron-right"></span> {{subpregunta_no["pregunta"]}}</label>

        <br>

        <div id="resultados_pregunta_{{subpregunta_no['pregunta_id']}}">No hay respuestas para esta pregunta.</div>

    {% endfor %}

    {% endif %}

    {% endfor %}

    <br>

    <div>
        <div class="pull-left" id="boton_anterior">
            <button type="button" class="btn btn-default"
                    style="background-color: transparent;border-color: transparent;font-size: 30px;color: #9634c1;">
                <span class='glyphicon glyphicon-arrow-left'></span></button>
        </div>

        <div class="pull-right" id="boton_siguiente">
            <button type="button" class="btn btn-default"
                    style="background-color: transparent;border-color: transparent;font-size: 30px;color: #9634c1;">
                <span class='glyphicon glyphicon-arrow-right'></span></button>
        </div>
    </div>

</div>

{% endblock %}