{% extends "common/page_base.html" %}

{% block content %}
<div class="container">

    <h2>Resultados de Encuestas</h2>

    <br>

    <h3>{{materia["codigo"]}} - {{materia["nombre"]}}</h3>
    <h3>{{curso["codigo_curso"]}} | {{curso["docentes"]}}</h3>

    <br>
    <br>

    {% if cuatrimestres_con_encuestas | length > 0 %}

    <button type="button"
            onclick="redirigir_a('{{url_for('main.resultados_encuestas_por_curso_todos_los_resultados_page', idCurso=curso['id_curso'])}}')"
            class="btn btn-mussa-default">Ver todos los resultados
    </button>

    <br>
    <br>

    <div class='table-responsive'>
        <table class='table table-hover' id="tabla_cursos_guardados">
            <tr class="header_tabla">
                <th>Año</th>
                <th>Cuatrimestre</th>
                <th>Resultados de la encuesta</th>
            </tr>
            </thead>
            <tbody>
            {% for dato in cuatrimestres_con_encuestas %}
            <tr>
                <td>{{dato["anio"]}}</td>
                <td>{{dato["cuatrimestre"]}}</td>
                <td>
                    <a href="{{ url_for('main.resultados_encuestas_por_curso_resultados_para_un_cuatrimestre_page', idCurso=curso['id_curso'], anio=dato['anio'], cuatrimestre=dato['cuatrimestre']) }}">
                        <span class='glyphicon glyphicon-search'></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}

    <p style="font-style: italic; color: purple; font-size: large;">
        Aún no hay ninguna encuesta completa para este curso.
    </p>

    {% endif %}

</div>

{% endblock %}