{% extends "common/page_base.html" %}

{% block content %}

<script>

    $( function () {
        var paginas = document.getElementById("myTab").children;
        for (var i=1; i<paginas.length; i++) {
            link = paginas[i];
            if ({{paso_activo}} == i-1) {
                $(link).addClass("active");
            } else {
                $(link).removeClass("active");
            }
        }

        agregarAccionesBotonesAnteriorYSiguiente();
        cargarLasRespuestasGuardadas();
    });

    function cargarLasRespuestasGuardadas() {
        var respuestas = {{respuestas | safe}};
        if ($.isEmptyObject(respuestas))
            return;

        var preguntas = {{preguntas | safe}};
        while(preguntas.length > 0) {
            if ($.isEmptyObject(respuestas))
                return;

            var pregunta = preguntas.pop();
            var idPregunta = pregunta["pregunta_encuesta_id"];

            var tipo_pregunta = pregunta["tipo"];
            if (idPregunta in respuestas) {
                var respuesta = respuestas[idPregunta];
                delete respuestas[idPregunta];
                cargarRespuestaGuardada(pregunta, tipo_pregunta, respuesta);
                if (tipo_pregunta == "Si o No") {
                    agregarSubpreguntasSiNo(preguntas, pregunta);
                }
            } else {
                mostrarLabelSinResultados(tipo_pregunta, idPregunta);
            }
        }
    }

    function mostrarLabelSinResultados(tipo_pregunta, idPregunta) {
        switch(tipo_pregunta) {
            case "Docente":
                return mostrarLabel('label-ningun-comentario-docentes-' + idPregunta);
            case "Correlativa":
                return mostrarLabel('label_correlativas_no_elegidas_' + idPregunta);
            default:
                console.log(tipo_pregunta)
                return;
        }
    }

    function mostrarLabel(id_label) {
        var label = document.getElementById(id_label);
        label.hidden = false;
    }

    function agregarSubpreguntasSiNo(preguntas, pregunta_si_no) {
        agregarSubpreguntas(preguntas, pregunta_si_no["rta_si"], 'si');
        agregarSubpreguntas(preguntas, pregunta_si_no["rta_no"], 'no');
    }

    function agregarSubpreguntas(preguntas, subpreguntas, tipo) {
        for (var i=0; i< subpreguntas.length; i++) {
            var subpregunta = subpreguntas[i];
            var datos = {};
            datos["pregunta"] = subpregunta["pregunta"];
            datos["pregunta_id"] = subpregunta["pregunta_id"];
            datos["pregunta_encuesta_id"] = subpregunta["pregunta_id"];
            datos["tipo"] = "Texto Subpregunta";
            datos["tipo_num"] = -1;
            datos["tipo_respuesta_si_no"] = tipo;

            preguntas.push(datos);
        }
    }

    function cargarRespuestaGuardada(pregunta, tipo_pregunta, respuesta) {
        switch(tipo_pregunta) {
            case "Texto Libre":
                return cargarRespuestaTextoLibre(pregunta, respuesta);
            case "Puntaje de 1 a 5":
                return cargarRespuestaPuntaje1a5(pregunta, respuesta);
            case "Numero":
                return cargarRespuestaNumero(pregunta, respuesta);
            case "Horario":
                return cargarRespuestaHorario(pregunta, respuesta);
            case "Docente":
                return cargarRespuestaDocentes(pregunta, respuesta);
            case "Correlativa":
                return cargarRespuestaCorrelativas(pregunta, respuesta);
            case "Estrellas":
                return cargarRespuestaEstrellas(pregunta, respuesta);
            case "Temática de la Materia":
                return cargarRespuestaTematicas(pregunta, respuesta);
            case "Tags / Palabras Clave":
                return cargarRespuestaPalabrasClave(pregunta, respuesta);
            case "Si o No":
                return cargarRespuestaSioNo(pregunta, respuesta);
            case "Texto Subpregunta":
                return cargarRespuestaTextoSubpregunta(pregunta, respuesta);
            default:
                console.log(tipo_pregunta)
                console.log(respuesta)
                return;
        }
    }

    function cargarRespuestaSioNo(pregunta, respuesta) {
        var idPregunta = pregunta['pregunta_encuesta_id'];

        var check_si = document.getElementById('check-si-' + idPregunta);
        var check_no = document.getElementById('check-no-' + idPregunta);

        var esta_marcado_si = (respuesta["respuesta"] == "Si");

        check_si.children[0].children[0].checked = esta_marcado_si;
        check_no.children[0].children[0].checked = !esta_marcado_si;

        mostrarSubpreguntas(esta_marcado_si, idPregunta);
    }

    function cargarRespuestaPalabrasClave(pregunta, respuesta) {
        var idPregunta = pregunta['pregunta_encuesta_id'];
        var palabras_clave = respuesta["palabras_clave"];
        for (var i=0; i<palabras_clave.length; i++) {
            var idx_palabra = (i + 1);
            var palabra_clave = palabras_clave[i].palabra_clave;
            document.getElementById('palabra-' + idx_palabra + '-' + idPregunta).value = palabra_clave;
        }

        MAX_PALABRAS_CLAVE = 3;
        for (var i=palabras_clave.length; i<MAX_PALABRAS_CLAVE; i++) {
            var idx_palabra = (i + 1);
            document.getElementById('palabra-' + idx_palabra + '-' + idPregunta).hidden = true;
        }
    }

    function cargarRespuestaTematicas(pregunta, respuesta) {
        var idPregunta = pregunta['pregunta_encuesta_id'];
        var selector = document.getElementById("selector_tematica_" + idPregunta);

        var tematicas = respuesta["tematicas"];
        for (var i=0; i<tematicas.length; i++) {
            var tematica = tematicas[i].tematica;
            var opcionElegida = selector[0];
            document.getElementById("texto_nueva_tematica_" + idPregunta).value = tematica;
            agregarTematicaSeleccionada(idPregunta, opcionElegida);
        }
    }

    function cargarRespuestaEstrellas(pregunta, respuesta) {
        var div_estrellas = document.getElementById("ec-stars-wrapper-" + pregunta['pregunta_encuesta_id']);
        var cantidad_estrellas = respuesta["estrellas"];
        pintarEstrellas(div_estrellas, cantidad_estrellas);
    }

    function cargarRespuestaCorrelativas(pregunta, respuesta) {
        var idPregunta = pregunta["pregunta_encuesta_id"];

        for (var i=0; i<respuesta["materias_correlativas"].length; i++) {
            var materiaCorrelativa = respuesta["materias_correlativas"][i];
            var idMateria = materiaCorrelativa["id_materia"];
            var nombreMateria = materiaCorrelativa["codigo"] + " - " + materiaCorrelativa["nombre"];
            agregarMateriaCorrelativaALaTabla(idMateria, nombreMateria, idPregunta);
        }
    }

    function cargarRespuestaDocentes(pregunta, respuesta) {
        var idPregunta = pregunta["pregunta_encuesta_id"];
        for (var i=0; i<respuesta["comentarios_docentes"].length; i++) {
            var datos_comentario_docente = respuesta["comentarios_docentes"][i];
            var idDocente = datos_comentario_docente["id_docente"].toString();
            var comentario = datos_comentario_docente["comentario"];
            var nombreDocente = datos_comentario_docente["nombre_completo"];
            agregarComentarioDocenteALaTabla(idPregunta, idDocente, nombreDocente, comentario);
        }
    }

    function cargarRespuestaHorario(pregunta, respuesta) {
        for (var i in respuesta["horarios"]) {
            var horario = respuesta["horarios"][i];
            var idPregunta = pregunta["pregunta_encuesta_id"];
            var dia = horario["dia"];
            var hora_desde = horario["hora_desde"];
            var hora_hasta = horario["hora_hasta"];
            agregarHorarioATabla(dia, hora_desde, hora_hasta, idPregunta);
        }
    }

    function cargarRespuestaPuntaje1a5(pregunta, respuesta) {
        var table = document.getElementById("puntaje1a5-id-" + pregunta['pregunta_encuesta_id']);
        var index = respuesta["puntaje"];
        table.rows[0].cells[index].children[0].checked = true;
    }

    function cargarRespuestaTextoLibre(pregunta, respuesta) {
        var texto_div = document.getElementById('textolibre-id-' + pregunta['pregunta_encuesta_id']);
        texto_div.value = respuesta["texto"];
    }

    function cargarRespuestaTextoSubpregunta(pregunta, respuesta) {
        var tipo = pregunta["tipo_respuesta_si_no"];
        var texto_div = document.getElementById('subpregunta-' + tipo + '-' + pregunta['pregunta_encuesta_id']);
        texto_div.value = respuesta["texto"];
    }

    function cargarRespuestaNumero(pregunta, respuesta) {
        var div_numero = document.getElementById('numero_' + pregunta['pregunta_encuesta_id']);
        div_numero.value = respuesta["numero"];
    }

    function agregarAccionesBotonesAnteriorYSiguiente() {
        var btn_anterior = document.getElementById('boton_anterior');
        var btn_siguiente = document.getElementById('boton_siguiente');

        var paginas_anterior_siguiente = {{ anterior_siguiente[paso_activo] | safe }};

        agregarAccionesBoton(paginas_anterior_siguiente[0], btn_anterior, 'left');
        agregarAccionesBoton(paginas_anterior_siguiente[1], btn_siguiente, 'right');
    }

    function agregarAccionesBoton(url, boton, direccion_flecha) {
        if (url) {
            boton.innerHTML = getBotonFlecha(direccion_flecha, url);
        } else {
            boton.hidden = true;
        }
    }

    function getBotonFlecha(lado, url) {
        var boton = "<button type='button' class='btn btn-default' ";
        boton += "style='background-color: transparent;border-color: transparent;font-size: 30px;color: #9634c1;' ";
        boton += "onclick=window.location.replace('" + url + "');>";
        boton += "<span class='glyphicon glyphicon-arrow-" + lado + "'></span></button>";
        return boton;
    }

    function setStarsValue(value, id) {
        var estrellas_element = document.getElementById(id);
        pintarEstrellas(estrellas_element, value);
    }

    function pintarEstrellas(element, cantidad_estrellas) {
        var MAX_ESTRELLAS = 5;

        for(var i=1; i<=cantidad_estrellas; i++)
            element.children[i-1].style["color"] = "#A348CC";

        for (var i=(cantidad_estrellas + 1); i <= MAX_ESTRELLAS; i++)
            element.children[i-1].style["color"] = "#7592A7"
    }

    function mostrarSubpreguntas(es_rta_si, id) {
        div_si = document.getElementById("div-subpregunta-si-pregunta-id-" + id);
        div_no = document.getElementById("div-subpregunta-no-pregunta-id-" + id);

        if (div_si)
            div_si.hidden = !es_rta_si;

        if (div_no)
            div_no.hidden = es_rta_si;
    }

    function agregarHorarioATabla(dia, hora_desde, hora_hasta, idPregunta) {
        var horarios_table = document.getElementById("tabla_cursos_guardados-" + idPregunta);
        var horarios = horarios_table.rows;

        var indice = horarios_table.rows.length;
        var row = horarios_table.insertRow(indice);
        var ultimo_id = horarios_table.rows[indice-1].id
        var numero_id = parseInt(ultimo_id.substr(ultimo_id.indexOf("_")+1)) + 1;
        if (isNaN(numero_id))
            numero_id = 0;

        row.id = "horario_" + numero_id;
        row.insertCell(0).innerHTML = dia;
        row.insertCell(1).innerHTML = hora_desde;
        row.insertCell(2).innerHTML = hora_hasta;

        var div_tabla_horarios = document.getElementById("div-tabla-" + idPregunta);
        div_tabla_horarios.hidden = false;
    }

    function convertirHorario(horario) {
        hora = parseInt(horario.substring(0,2))
        minutos = parseInt(horario.substring(3))
        if (minutos == 30)
            hora += 0.5
        return hora
    }

    function agregarMateriaCorrelativaALaTabla(idMateria, nombre_materia, idEncuesta) {
        var correlativas_table = document.getElementById("tabla_correlativas_" + idEncuesta);
        var correlativas = correlativas_table.rows;

        var indice = correlativas.length;
        var row = correlativas_table.insertRow(indice);
        var ultimo_id = correlativas[indice-1].id
        var numero_id = parseInt(ultimo_id.substr(ultimo_id.indexOf("_")+1)) + 1;
        if (isNaN(numero_id))
            numero_id = 0;

        row.id = "materia_" + numero_id + "_" + idEncuesta;
        row.insertCell(0).innerHTML = nombre_materia;

        var celdaId = row.insertCell(1);
        celdaId.innerHTML = idMateria;
        celdaId.hidden = true;

        var div_tabla_correlativas = document.getElementById("div_tabla_correlativas_" + idEncuesta);
        div_tabla_correlativas.hidden = false;
    }

    function showFirstNotHidden(selector) {
        var indexSelected = -1;
        for (var i=0; i<selector.options.length; i++) {
            var opcionMateria = selector.options[i];
            if (!opcionMateria.hidden) {
                indexSelected = i;
                break;
            }
        }
        selector.selectedIndex = indexSelected;
    }

    function agregarComentarioDocenteALaTabla(idPregunta, idDocente, nombreDocente, comentario) {
        var tabla_docentes = document.getElementById("tabla_docentes-" + idPregunta);

        var filas = tabla_docentes.rows;
        var indice = filas.length;
        var row = tabla_docentes.insertRow(indice);
        var ultimo_id = filas[indice-1].id
        var numero_id = parseInt(ultimo_id.substr(ultimo_id.indexOf("_")+1)) + 1;
        if (isNaN(numero_id))
            numero_id = 0;

        row.id = "entradaTablaDocente_" + numero_id + "_" + idPregunta;

        var celdaId = row.insertCell(0);
        celdaId.innerHTML = idDocente;
        celdaId.hidden = true;

        row.insertCell(1).innerHTML = nombreDocente;
        row.insertCell(2).innerHTML = comentario;

        var div_tabla_docentes = document.getElementById("div-tabla-docentes-" + idPregunta);
        div_tabla_docentes.hidden = false;
    }

    function agregarTematicaSeleccionada(idPregunta, opcionElegida) {
        var selector = document.getElementById("selector_tematica_" + idPregunta);

        var idTema = "";
        var texto = "";
        if (opcionElegida.id == ("nueva_tematica_" + idPregunta)) {
            idTema = -1;

            var texto_nueva_tematica = document.getElementById("texto_nueva_tematica_" + idPregunta);
            texto = getCleanedString(texto_nueva_tematica.value);
            texto_nueva_tematica.value = "";

            for(var j=0; j<selector.options.length; j++) {
                var opcion = selector.options[j];
                if (opcion.innerText == texto && !opcion.hidden) {
                    opcion.hidden = true;
                    agregarTematica(opcion.innerText, opcion.value, opcion, idPregunta);
                    return;
                }
            }

            var etiquetas_ya_elegidas = $("[id*=texto_id_etiqueta_]");
            for (var i=0; i<etiquetas_ya_elegidas.length; i++) {
                if (etiquetas_ya_elegidas[i].value == texto)
                    return;
            }

        } else {
            idTema = opcionElegida.value;
            texto = opcionElegida.innerText;
            opcionElegida.hidden = true;
        }

        agregarTematica(texto, idTema, opcionElegida, idPregunta);
    }

    function agregarTematica(texto, idTema, opcionElegida, idPregunta) {
        var tematicas_elegidas = document.getElementById("tematicas_elegidas_" + idPregunta);

        var nueva_etiqueta = crearEtiquetaTematica(texto, idTema, opcionElegida.id, idPregunta);
        tematicas_elegidas.innerHTML += nueva_etiqueta;

        tematicas_elegidas.hidden = false;
    }

    function getCleanedString(cadena){
       var specialChars = "!@#$^&%*()+=-[]\/{}|:<>?,.;";

       for (var i = 0; i < specialChars.length; i++) {
           cadena= cadena.replace(new RegExp("\\" + specialChars[i], 'gi'), '');
       }

       cadena = cadena.toUpperCase();

       cadena = cadena.replace(/Á/gi,"A");
       cadena = cadena.replace(/É/gi,"E");
       cadena = cadena.replace(/Í/gi,"I");
       cadena = cadena.replace(/Ó/gi,"O");
       cadena = cadena.replace(/Ú/gi,"U");
       return cadena;
    }

    function crearEtiquetaTematica(texto, idEtiqueta, opcion, idPregunta) {
        etiqueta = "";
        etiqueta += "<div class='col-lg-3' id='div_etiqueta_" + idEtiqueta + "_" + idPregunta + "' style='margin-bottom:5px;'>";
        etiqueta += "<div class='input-group'>";
        etiqueta += "<input type='text' class='form-control' style='background-color: #e8d2f2;' id='texto_id_etiqueta_" + idEtiqueta + "' value='" + texto + "' disabled/>";
        etiqueta += "</button>";
        etiqueta += "</span>";
        etiqueta += "</div>";
        etiqueta += "</div>";
        return etiqueta;
    }

</script>

<!--- Begin Botonera -->
<div class="row">
    <div class="col-md-12 board">
        <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">
                <div class="liner"></div>
                {% for i in range(titulos | length) %}
                <li>
                    <a onclick="window.location.replace('{{ url_for(titulos[i]['url'], idEncuestaAlumno=idEncuestaAlumno) }}')"
                       title="{{titulos[i]['titulo']}}">
                        <span class="round-tabs">{{i+1}}<i class="icon icon-profile-male"></i></span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--- End Botonera -->
<br>

<div class="container">

    <div>
        <h2>{{encuesta["materia"]["codigo"]}} - {{encuesta["materia"]["nombre"]}} | Curso {{encuesta["curso"]["codigo_curso"]}} | {{encuesta["curso"]["docentes"]}}</h2>

        <h3>Sección {{paso_activo+1}}: {{titulos[paso_activo]["titulo"]}}</h3>
    </div>

    {% for pregunta in preguntas %}

    <br>

    <label><span class="glyphicon glyphicon-chevron-right"></span>  {{pregunta["pregunta"]}}</label>

    <br>

    {% if pregunta["tipo"] == "Puntaje de 1 a 5" %}

    <br>
    <table border="0" id="puntaje1a5-id-{{pregunta['pregunta_encuesta_id']}}" style="background-color: transparent;">
        <tbody>
        <tr>
            <td>{{pregunta["texto_min"]}}</td>
            {% for i in range(1,6) %}
            <td><input type="radio" name="input_puntaje1a5-id-{{pregunta['pregunta_encuesta_id']}}" value="{{i}}" style="margin:10px;" disabled></td>
            {% endfor %}
            <td>{{pregunta["texto_max"]}}</td>
        </tr>
        </tbody>
    </table>

    {% elif pregunta["tipo"] == "Texto Libre" %}

    <textarea class="form-control" rows="5" id="textolibre-id-{{pregunta['pregunta_encuesta_id']}}" disabled></textarea>

    {% elif pregunta["tipo"] == "Si o No" %}

    <div class="radio" id="check-si-{{pregunta['pregunta_encuesta_id']}}">
        <label><input type="radio" name="optradio-{{pregunta['pregunta_encuesta_id']}}" disabled>Si</label>
    </div>
    <div class="radio" id="check-no-{{pregunta['pregunta_encuesta_id']}}">
        <label><input type="radio" name="optradio-{{pregunta['pregunta_encuesta_id']}}" disabled>No</label>
    </div>

    {% for subpregunta in pregunta["rta_si"] %}
    <div id="div-subpregunta-si-pregunta-id-{{pregunta['pregunta_encuesta_id']}}" hidden="True">
        <br>

        <label><span class="glyphicon glyphicon-chevron-right"></span>  {{subpregunta["pregunta"]}}</label>

        <br>
        <br>

        {% if subpregunta["tipo"] == "Texto Libre" %}

        <textarea class="form-control" rows="5" id="subpregunta-si-{{subpregunta['pregunta_id']}}"></textarea>

        {% endif %}

    </div>
    {% endfor %}

    {% for subpregunta in pregunta["rta_no"] %}
    <div id="div-subpregunta-no-pregunta-id-{{pregunta['pregunta_encuesta_id']}}" hidden="True">
        <br>

        <label><span class="glyphicon glyphicon-chevron-right"></span>  {{subpregunta["pregunta"]}}</label>

        <br>
        <br>

        {% if subpregunta["tipo"] == "Texto Libre" %}

        <textarea class="form-control" rows="5" id="subpregunta-no-{{subpregunta['pregunta_id']}}"></textarea>

        {% endif %}
    </div>
    {% endfor %}

    {% elif pregunta["tipo"] == "Horario" %}

    <div class="form-group" id="div-tabla-{{pregunta['pregunta_encuesta_id']}}" hidden="true">
        <div class='table-responsive'>
            <table class='table table-hover' id="tabla_cursos_guardados-{{pregunta['pregunta_encuesta_id']}}">
                <tr>
                    <th>Dia</th>
                    <th>De</th>
                    <th>A</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    {% elif pregunta["tipo"] == "Docente" %}

    <div class="form-group" id="div-tabla-docentes-{{pregunta['pregunta_encuesta_id']}}" hidden="true">
        <div class='table-responsive'>
            <table class='table table-hover' id="tabla_docentes-{{pregunta['pregunta_encuesta_id']}}">
                <tr>
                    <th hidden="true">Id Docente</th>
                    <th>Docente</th>
                    <th>Comentarios</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <label id="label-ningun-comentario-docentes-{{pregunta['pregunta_encuesta_id']}}" hidden="true">
        No se ha ingresado ningún comentario de los docentes.
    </label>

    {% elif pregunta["tipo"] == "Correlativa" %}

    <div class="form-group" id="div_tabla_correlativas_{{pregunta['pregunta_encuesta_id']}}" hidden="true">
        <div class='table-responsive'>
            <table class='table table-hover' id="tabla_correlativas_{{pregunta['pregunta_encuesta_id']}}">
                <tr>
                    <th>Materia</th>
                    <th hidden="true">Id Materia</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <label id="label_correlativas_no_elegidas_{{pregunta['pregunta_encuesta_id']}}" hidden="true">
        No se ha seleccionado ninguna correlativa para esta materia.
    </label>

    {% elif pregunta["tipo"] == "Estrellas" %}

    <br>
    <div class="ec-stars-wrapper" id="ec-stars-wrapper-{{pregunta['pregunta_encuesta_id']}}">
        {% for i in range(1,6) %}
        <a href="#" data-value="{{i}}">&#9733;</a>
        {% endfor %}
    </div>
    <br>

    {% elif pregunta["tipo"] == "Numero" %}

    <br>

    <div class="row">
        <div class="col-sm-2">
            <input type="number" class="form-control" name="numero_{{pregunta['pregunta_encuesta_id']}}" id="numero_{{pregunta['pregunta_encuesta_id']}}" value="{{pregunta['numero_min']}}" min="{{pregunta['numero_min']}}" max="{{pregunta['numero_max']}}" step="1" disabled>
        </div>
    </div>

    <br>

    {% elif pregunta["tipo"] == "Tags / Palabras Clave" %}

    <br>

    <div class="row">
        {% for i in range(1,4) %}
        <div class="col-sm-3">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="palabra-{{i}}-{{pregunta['pregunta_encuesta_id']}}" disabled/>
                <i class="glyphicon glyphicon-tag form-control-feedback"></i>
            </div>
        </div>
        {% endfor %}
    </div>

    <br>

    {% elif pregunta["tipo"] == "Temática de la Materia" %}

    <br>

    <div id="div_permitir_agregar_mas_etiquetas_{{pregunta['pregunta_encuesta_id']}}" hidden="true">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-control" id="selector_tematica_{{pregunta['pregunta_encuesta_id']}}" name="selector_tematica_{{pregunta['pregunta_encuesta_id']}}">
                        <option id="nueva_tematica_{{pregunta['pregunta_encuesta_id']}}" value="-1">Nueva Temática</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3" id="div_texto_nueva_tematica_{{pregunta['pregunta_encuesta_id']}}">
                <input type="text" class="form-control" id="texto_nueva_tematica_{{pregunta['pregunta_encuesta_id']}}"/>
            </div>
        </div>

    </div>

    <div class="row" id="tematicas_elegidas_{{pregunta['pregunta_encuesta_id']}}" hidden="true"></div>

    <br>

    {% endif %}

    {% endfor %}

    <br>

    <div>
        <div class = "pull-left" id="boton_anterior">
            <button type="button" class="btn btn-default" style="background-color: transparent;border-color: transparent;font-size: 30px;color: #9634c1;"><span class='glyphicon glyphicon-arrow-left'></span></button>
        </div>

        <div class = "pull-right" id="boton_siguiente">
            <button type="button" class="btn btn-default" style="background-color: transparent;border-color: transparent;font-size: 30px;color: #9634c1;"><span class='glyphicon glyphicon-arrow-right'></span></button>
        </div>
    </div>

</div>

{% endblock %}