# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask

# Flask Packages
Flask-Login==0.4.0
Flask-Migrate
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-User==0.6.12
Flask-WTF

# Automated tests
pytest==3.0.5
pytest-cov==2.4.0

# Development tools
# Fabric3==1.13.1.post1
# tox==2.7.0

#Flask-BabelEx (para idioma)
flask_babel
Flask-BabelEx

#Instalar Flask Restful (API REST)
flask-restful
request
requests

#Para parsear el PDF
PyPDF2

#Boostrap
flask_bootstrap



