/**** element styles ****/
hr { border-color: #cccccc; margin: 0px; }

/**** header, main and footer divs ****/
.header-title { font-size: 30px; }

/**** class-based style modifiers ****/

.no-margins { margin: 0px; }

.with-margins { margin: 10px; }

.col-centered { float: none; margin: 0 auto; }

/********** Estrellas *****************/

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
} 

[title=".100"]::after {
  width: 20%;
}
[title=".200"]::after {
  width: 40%;
}
[title=".300"]::after {
  width: 60%;
}
[title=".400"]::after {
  width: 80%;
}
[title=".500"]::after {
  width: 100%;
}
.star-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}
